@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');


/* 基本
====================================================== */
html {
  font-size: 62.5%;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  html {
    font-size: 1vw;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: calc(10 / 375 * 100vw);
  }
}

body {
  font-family: 'Hiragino Kaku Gothic ProN', 'Klee One','Noto Sans JP', 'Helvetica Neue', 'Arial', meiryo, 'Noto Serif JP', sans-serif;
  background-color: #fff;
  box-sizing: border-box;
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0 ;
  width: 100%;
  height: 100%;
  background-size: 1rem 1rem;
  background-color: #fff;
  background-image: linear-gradient(transparent 90%, #C1D8D8 90%), linear-gradient(90deg, transparent 90%, #C1D8D8 90%);
  background-repeat: repeat;
  opacity: .3;
  z-index: -10;
}
h1, h2, h3, h4, h5, h6, p, dl, dd, ul, li, figure {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  color: #707070;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}

@media (min-width: 768px) {
  body::after {
    background-size: 1.5rem 1.5rem;
  }
}


/* 共通
============================= */
.flex-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-width {
  margin: 0 auto;
  padding: 0 1.5rem;
  text-align: center;
  box-sizing: border-box;
}
.section-title {
  display: inline-block;
  position: relative;
  margin-top: 5rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #3B6A9A;
}
.section-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  width: 120%;
  height: 40%;
  background-color: #FFFA88;
  z-index: -10;
}
.btn-area-section {
  margin-top: 5rem;
  padding: 2rem 0;
  background-color: rgba(255, 191, 213, .3);
}
.btn-area-section .btn-area {
  margin: 0;
}
.btn-area-section p {
  line-height: calc(20 / 12);
}

 @media (min-width: 768px) {
  .content-width {
    max-width: 108rem;
  }
  .section-title {
    max-width: 17em;
    margin-top: 10rem;
    font-size: 5.6rem;
    line-height: 1.5;
  }
  .section-title::after {
    height: 3rem;
  }
  .btn-area-section {
    padding: 10rem 0;
  }
  .btn-area-section .btn {
    margin-top: 5rem;
  }
 }


/* header
============================= */
.header {
  position: relative;
  height: 50.5rem;
  background-image: url(../img/main-visual.jpg);
  background-size: cover;
  background-position: center;
}
.header h1 {
  position: absolute;
  top: 55%;
  left: 0;
  padding: 1.5rem 1rem 1.5rem 1.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: rgba(226, 241, 255, .7);
}
.header h1 b {
  display: block;
  margin-top: .5rem;
  font-size: 2rem;
}
.header .catch {
  position: absolute;
  top: 24%;
  left: 7.2%;
  font-family: 'Klee One';
  font-size: 1.8rem;
  line-height: calc(30 / 18);
  color: #5F5F5F;
}

@media (min-width: 768px) {
  .header {
    height: 65rem;
    background-size: contain;
    background-position: right;
    background-color: #fff;
  }
  .header h1 {
    top: 62%;
    left: 6%;
    padding: 2.5rem 3rem;
    font-size: 4.6rem;
    font-weight: 600;
  }
  .header h1 b {
    margin-top: 1.5rem;
    font-size: 6.2rem;
  }
  .header .catch {
    position: absolute;
    top: 18.5%;
    left: 10.4%;
    font-size: 4rem;
    line-height: calc(60 / 40);
  }
}


/* title-intro
============================= */
.title-intro {
  text-align: center;
}
.title-intro h2 {
  margin-top: 1.5rem;
  padding: .9rem 0 .8rem 0;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #5F5F5F;
  background-color: #FFFA88;
}
.point-circles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}
.point-circles .circle {
  width: 10.8rem;  
  height: 10.8rem;
  text-align: center;
  background-color: rgba(226, 241, 255, .7);
  border-radius: 50%;
  display: none;
}
.circle figure {
  margin-top: .6rem;
}
.circle figure img {
  width: 3rem;
  height: 3rem;
}
.circle p {
  margin-top: .5rem;
  font-size: 1.2rem;
  line-height: calc(20 / 16);
  color: #707070;
}
.circle p b {
  font-size: 1.6rem;
  font-weight: 700;
}
.btn-area {
  margin-top: 3rem;
  text-align: center;
}
.btn-area p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #D10000;
}
/*
Generated by
waitanimate.wstone.uk
*/
.btn-area p {
  animation: btn-area_359369675 4.5s ease-in-out infinite;
  transform-origin: 50% 50%;
}
@keyframes btn-area_359369675 {
  0% {
    transform: scale(1)
  }
  5.556% {
    transform: scale(1.05);
  }
  11.111% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
/* end of Generated */

.btn-area a {
  display: inline-block;
  margin-top: 1rem;
  padding: .9rem 3rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  background-color: #3B6A9A;
  box-shadow: .3rem .3rem 0 rgba(125, 158, 191, .4);
}
.btn {
  position: relative;
  transition: all .2s ease;
  overflow: hidden;
}
.btn:hover {
  transform: translate(.6rem, .6rem);
  box-shadow: none;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  transition: transform 0.5s ease;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 100%));
  transform: skew(-25deg);
}
.btn:hover::before {
  animation: shine .8s ease;
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

@media (min-width: 768px) {
  .title-intro {
    position: relative;
    padding-top: 14.5rem;
  }
  .title-intro h2 {
    width: calc(9em + 20rem);
    position: absolute;
    display: inline-block;
    top: -1rem;
    left: 50%;
    transform: translatex(-50%);
    margin-top: -2rem;
    padding: 2.6rem 9.4rem 1.9rem ;
    font-size: 6rem;
    z-index: 100;
  }
  .point-circles {
    justify-content: space-around;
    gap: 3rem;
  }
  .point-circles .circle {
    width: 31.9rem;  
    height: 31.9rem;
  }
  .circle figure {
    margin-top: 2rem;
  }
  .circle figure img {
    width: 10rem;
    height: 10rem;
  }
  .circle p {
    margin-top: 1.5rem;
    font-size: 3.4rem;
    line-height: calc(57 / 46);
  }
  .circle p b {
    font-size: 4.6rem;
  }
  .btn-area {
    margin-top: 10rem;
  }
  .btn-area p {
    font-size: 3.4rem;
  }
  .btn-area a {
    margin-top: 3rem;
    padding: 2.5rem 8.6rem 2.2rem 8.9rem;
    font-size: 5.2rem;
    letter-spacing: .1em;
    box-shadow: .9rem .9rem 0 rgba(125, 158, 191, .4);
  }
}


/* trend
============================= */
.trend .flex-wrap {
  display: block;
}
.trend .text-area {
  margin-top: .5rem;
  padding: 3rem 1.5rem;
  text-align: left;
  background-color: rgba(226, 241, 255, .7);
  border-radius: 2.5rem;
}
.trend .text-area p {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: calc(23.8 / 14);
}
.advice {
  margin-top: 3rem;
  overflow: hidden;
}
.advice p {
  font-family:  'Klee One';
  font-size: 1.6rem;
}
.advice .flex-wrap figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 0;
  width: 15rem;
  height: 15rem;
  transition: transform .5s ease;
  transform: translateX(-200%);
}
.advice .flex-wrap .text-area {
  padding: 1.5rem;
  background-color: rgba(255, 191, 213, .3);
  transition: transform  1s ease;
  transform: translateX(200%);
}
.advice .flex-wrap.slide-in figure {
  transform: translateX(0);
}
.advice .flex-wrap.slide-in .text-area {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .trend .text-area {
    margin-top: 4rem;
    padding: 4.5rem;
    text-align: left;
    background-color: rgba(226, 241, 255, .7);
    border-radius: 2.5rem;
  }
  .trend .text-area p {
    font-size: 3rem;
    font-weight: 300;
    line-height: calc(23.8 / 14);
  }
  .advice {
    margin-top: 5rem;
  }
  .advice .flex-wrap {
    display: flex;
    gap: 1.5rem;
  }
  .advice p {
    font-size: 3.6rem;
  }
  .advice .text-area p {
    font-size: 2.4rem;
  }
  .advice figure {
    margin-top: 0;
    width: 25rem !important;
  }
  .advice .text-area {
    width: calc(100% - 25rem);
    padding: 2rem 3.5rem;
    background-color: rgba(255, 191, 213, .3);
  }
}

/* service
============================= */
.service ul li {
  margin: 1.5rem auto 3rem;
}
.course-title {
  display: inline-block;
  margin-bottom: 1.5rem;
  font-family: 'Klee One';
  font-size: 1.4rem;
}
.course p i {
  margin-right: .5rem;
}
.service .circle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 16rem;
  height: 16rem;
  border: 1rem solid rgba(226, 241, 255, .7);
  border-radius: 50%;
  transition: all .5s ease;
  transform: translateY(20%);
  opacity: 0;
}
.service .circle.slide-in {
  transform: translateY(0);
  opacity: 1;
}

.service .circle:nth-of-type(2) {
  border: 1rem solid rgba(255, 191, 213, .3);
}
.service .circle figure img {
  width: 6rem;
  height: 6rem;
}
.service .circle p {
  font-size: 1.8rem;
}
.service .circle p span {
  display: block;
  font-size: 2.8rem;
  line-height: calc(28 / 20);
  letter-spacing: -0.01em;
  background: linear-gradient(transparent 60%, #FFFA88 60%);
}
.time {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.time figure {
  position: relative;
}
.time figure img {
  width: 5rem;
  height: 5rem;
}
.time figure p {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
}
.open-time {
  margin-top: 3%;
  transition: all .5s ease;
  transform: scaleX(0);
  transform-origin: left
}
.open-time.grow {
  transform: scaleX(1);
}
.open-time p {
  padding: .5rem 1rem;
  font-weight: 500;
  border-radius: 1.2rem;
}
.open-time p i {
  margin-left: .4rem;
}
.time.holiday {
  margin-top: 1.5rem;
}
.time.weekday {
  justify-content: flex-end;
  margin-right: .5rem;
  margin-left: auto;
}
.weekday figure p {
  color: #3B6A9A;
}
.holiday figure p {
  color: #D10000;
}
.weekday .open-time p {
  background-color: #E2F1FF;
}
.holiday .open-time p {
  background-color: #FFECF2;
}
.holiday .open-time p i {
  margin: 0 3rem;
}
.others-wrap {
  text-align: left;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  background-color: #FAFAFA;
  box-shadow: 0 .3rem .6rem rgba(0, 0, 0, .16);
  overflow: hidden;
}
.service .others-wrap li {
  position: relative;
  margin-bottom: 0;
  padding-left: 1.5em;
  font-weight: 300;
  transition: all .5s ease;
  transform: translateY(50px);
  opacity: 0;
}
.service .others-wrap li.slide-in {
  transform: translateY(0);
  opacity: 1;
}
.service .others-wrap li:first-child {
  margin-top: 0;
}
.others-wrap li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f14a";
  position: absolute;
  font-weight: 500;
  top: 0;
  left: 0;
}
.others-wrap ul li ul {
  margin-top: .5rem;
}
.others-wrap ul li ul li {
  margin-top: .5rem !important;
  padding-left: 0 !important;
  font-size: 1rem;
}
.others-wrap ul li ul li::before {
  content: "";
}

@media (min-width: 768px) {
  .service ul li {
    margin: 5rem auto 0;
  }
  .course-title {
    margin-bottom: 3rem;
    font-size: 3.6rem;
    font-weight: 300;
  }
  .course p i {
    margin-right: 1rem;
  }
  .service .circle-wrap {
    justify-content: center;
    gap: 10rem;
  }
  .service .circle {
    align-items: center;
    width: 38.8rem;
    height: 38.8rem;
    border-width: 2rem;
  }
  .service .circle:nth-of-type(2) {
    border-width: 2rem;
  }
  .service .circle figure img {
    width: 20rem;
    height: 20rem;
  }
  .service .circle p {
    font-size: 4.6rem;
  }
  .service .circle p span {
    font-size: 6rem;
    line-height: calc(50 / 60);
  }
  .time figure img {
    width: 15rem;
    height: 15rem;
  }
  .time figure p {
    font-size: 4.6rem;
  }
  .open-time p {
    padding: 1rem 3rem;
    font-size: 3.6rem;
    border-radius: 3rem;
  }
  .open-time p i {
    margin: 0 3rem;
  }
  .time.holiday {
    margin-top: 3rem;
  }
  .time.weekday {
    margin-right: 2.3rem;
  }
  .holiday .open-time p i {
    margin: 0 13rem;
  }
  .others-wrap {
    width: 90%;
    padding: 5rem 0 5rem 6rem;
  }
  .service .others-wrap li {
    font-size: 4rem;
  }
  .others-wrap ul li ul {
    margin-top: 2rem;
  }
  .others-wrap ul li ul li {
    margin-top: .5rem !important;
    padding-left: 0 !important;
    font-size: 3rem !important;
    line-height: calc(40 / 30);
  }
  .others-wrap ul li ul li::before {
    content: "";
  }
}


/* features
============================= */
.target-member-wrap {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
}
.target-member {
  opacity: 0;
}
.target-member.fade-in {
  animation-name: fadeInAnime;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  box-shadow: 0 .3rem .6rem rgba(0, 0, 0, .16);
}
@keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.target-member {
  position: relative;
}
.target-member img {
  height: 12rem;
}
.target-name {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, .9);
}
.target-member-wrap li:nth-child(even) .target-name {
  right: 0;
  left: unset;
}

@media (min-width: 768px) {
  .target-member-wrap {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
  }
  .target-member {
    width: 50%;
    height: 30rem;
  }
  .target-member picture img {
    width: 100%;
    height: 100%;
  }
  .target-name  {
    top: auto;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    width: 18rem;
    padding: 1rem 0;
  }
  .target-name p {
    font-size: 2.7rem;
  }
  .target-name ul {
    margin-top: .5rem;
    text-align: left;
    font-size: 1.6rem;
  }
  .target-member-wrap li:nth-child(even) .target-name {
    left: 50%;
    transform: translateX(-50%);
  }
}


/* recommend
============================= */
.recommend {
  overflow: hidden;
}
.recommend-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}
.recommend-box:nth-of-type(2) {
  flex-direction: row-reverse;
}
.recommend-text {
  text-align: left;
  transition: all .7s ease;
  opacity: 0;
}
.recommend-text1 {
  transform: translateX(-100%);
  opacity: 0;
}
.recommend-text2 {
  transform: translateX(100%);
}
.recommend-text.slide-in {
  transform: translateX(0);
  opacity: 1;
}
.recommend-text li {
  font-size: 1rem;
  font-weight: 300;
  line-height: calc(14 / 10);
  margin-bottom: 1rem;
}
.recommend-text li:last-child {
  margin-bottom: 0;
}
.recommend figure {
  width: 10rem;
}

@media (min-width: 768px) {
  .recommend-box {
    gap: 3.6rem;
    margin-top: 5rem;
  }
  .recommend-text li {
    font-size: 3rem;
    line-height: calc(14 / 10);
    margin-bottom: 4rem;
  }
  .recommend figure {
    width: 31.5rem;
  }
}


/* merit
============================= */
.merit {
  width: 100%;
  overflow: hidden;
}
.merit-list {
  margin-top: 1.5rem;
}
.merit-item {
  text-align: left;
  margin-bottom: 1.5rem;
  transition: all .5s ease;
  transform: translateX(-300%);
}
.merit-item.slide-in {
  transform: translateX(0);
}
.merit-tab {
  position: relative;
  display: inline-block;
  padding: .4rem .5rem;
  font-weight: 600;
  letter-spacing: -.1em;
  text-align: left;
  background-color: #F7C30E;
}
.merit-tab::after {
  content: "";
  position: absolute;
  top: 0;
  right: -.9rem;
  width: 2rem;
  height: 100%;
  background-color: #F7C30E;
  transform: skewX(40deg);
  z-index: -1;
}
.merit-item:nth-of-type(2) .merit-tab {
  margin-left: 8rem;
}
.merit-item:nth-of-type(3) .merit-tab {
  margin-left: 16.5rem;
}
.merit-item:nth-of-type(4) .merit-tab {
  margin-left: 25rem;
}
.merit-item .flex-wrap{
  background-color: #F7C30E;
}
.merit-item figure {
  width: 49%;
}
.merit-item figure img {
  border: .5rem solid #F7C30E;
  box-sizing: border-box;
}
.merit-item p {
  width: 49%;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: calc(28 / 18);
  text-align: center;
}


@media (min-width: 768px) {
  .merit {
    width: 85%;
  }
  .merit-list {
    margin-top: 5rem;
  }
  .merit-item {
    margin-bottom: 5rem;
  }
  .merit-tab {
    font-size: 4.7rem;
    font-weight: 600;
    padding: 1.2rem 1.5rem;
  }
  .merit-tab::after {
    top: 0;
    right: -3rem;
    width: 7rem;
  }
  .merit-item:nth-of-type(2) .merit-tab {
    margin-left: 25%;
  }
  .merit-item:nth-of-type(3) .merit-tab {
    margin-left: 45%;
  }
  .merit-item:nth-of-type(4) .merit-tab {
    margin-left: 65%;
  }
  .merit-item figure {
    width: 49%;
  }
  .merit-item figure img {
    border-width: 1rem;
  }
  .merit-item p {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: calc(72 / 48);
  }
}


/* more-unique
============================= */
.more-unique .section-title {
  position: relative;
}
.more-unique .section-title {
  margin-top: calc(5rem + 1em + .9rem);
}
.more-unique .section-title::before {
  content: "＼さらに！／";
  position: absolute;
  top: calc(-1em - .9rem);
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  color: #D10000;
  font-size: 1.8rem;
  font-weight: 600;
}
.more-unique.grow .section-title::before{
  animation: bound .8s ease;
  left: 50%;
  text-align: center;
}
@keyframes bound {
  0% {
    transform: translateX(-50%) scale(0.5);
  }
  25% {
    transform: translate(-50%) scale(1);
  }
  50% {
    transform: translate(-50%) scale(1.5);
  }
  100% {
    transform: translate(-50%) scale(1);
  }
}
.more-unique .flex-wrap {
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 3.5rem;
}
.more-unique .flex-item {
  position: relative;
  width: 100%;
  transition: all .7s ease;
  transform: translateY(100px);
  opacity: 0;
}
.more-unique .flex-item.fade-in {
  transform: translateY(0);
  opacity: 1;
}
.more-unique .flex-item figure {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
}
.more-unique .flex-item p {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: calc((18 / 12));
  background-color: rgba(226, 241, 255, .7);
}

@media (min-width: 768px) {
  .more-unique {
    padding-bottom: 5rem;
  }
  .more-unique .section-title {
    margin-top: calc(10rem + 1em + 2.4rem);
  }
  .more-unique .section-title::before {
    top: calc(-1em - 2.4rem);
    font-size: 4.8rem;
  }
  .more-unique .flex-wrap {
    flex-direction: row;
    margin-top: 5rem;
    gap: 5rem;
  }
  .more-unique .flex-item figure {
    width: 38.8rem;
    height: 38.8rem;
  }
  .more-unique .flex-item p {
    bottom: -2rem;
    width: 45rem;
    padding: 2.3rem .7rem;
    font-size: 2.2rem;
    line-height: calc(33 / 22);
  }
  .flex-item:nth-child(2) p span {
    font-size: 1.8rem;
  }
}


/* footer
============================= */
footer {
  margin-top: 5rem;
  text-align: center;
  background-color: #3B6A9A;
}
footer p {
  padding: .5rem 0;
  font-size: 1.2rem;
  color: #fff;
}

@media (min-width: 768px) {
  footer {
    margin-top: 10rem;
  }
  footer p {
    padding: 1.9rem 0;
    font-size: 4.3rem;
  }
}